<div class="pagination">
	<div class="icons" (click)="move(0)">
		<span class="material-icons">
      keyboard_arrow_left
    </span>
		<span>Prev</span>
	</div>
	<!-- <div class="not-icons" [ngClass]="{'active':active===0}">1</div>
	<div class="not-icons" [ngClass]="{'active':active===1}">2</div> -->
	<ng-container *ngFor="let item of pagination | slice:0:3; let i = index">
		<div class="not-icons" [ngClass]="{'active':active===item}">{{item}}</div>
	</ng-container>
	<div class="icons" (click)="move(1)">
		<span>Next</span>
		<span class="material-icons">
      keyboard_arrow_right
    </span>
	</div>
</div>