.pagination{
  display: flex;
  justify-content: center;
  align-content: center;
  line-height: 30px;
}

.icons{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2.5px 0 2.5px;
}

.not-icons{
  cursor: pointer;
  height: 33px;
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2.5px 0 2.5px;
}