<div class="container">
	<div class="row" *ngFor="let item of data | slice:0:6; let i = index">
		<div class="col col1">
			<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        </div>
			<div class="col col2">
				<span>{{item.mission_name}}</span>
				<app-drop-down class="dropdown"></app-drop-down>
			</div>
			<div class="col col3">
				<span>{{item.rocket.rocket_name}}</span>
			</div>
			<div class="col col4">
				<span>{{item.launch_success ? 'yes' : 'no'}}</span>
			</div>
			<div class="col col5">
				<span>{{item.launch_date_utc | dateTime}}</span>
			</div>
		</div>
	</div>